@use "/src/sass/base/basic.scss";
@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/blocks/header.scss";
@use "/src/sass/base/variables.scss";


@use "/src/sass/ui/title.scss";

@font-face {
    font-family: 'RethinkSans';
    src: url('../font/RethinkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'RethinkSans';
    src: url('../font/RethinkSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'RethinkSans';
    src: url('../font/RethinkSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}